In [3]:
import pandas as pd

In [16]:
import numpy as np

In [17]:
data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "name": ["John Doe", "Jane Smith", "Alice Johnson", "Bob Brown", "Eve White", "Frank Black", "Charlie Green", "Daisy Blue", "George Red", "Hannah White"],
    "birthdate": ["1987-05-24", "1992-08-17", "April 4 1985", "03/12/1990", "1995-07-30", None, "1991-09-05", "August 14 1990", "01-12-1983", "1984/05/06"],
    "purchase_date": ["2021/12/01", "12-15-2021", "2020-05-21", "21 May 2020", "2022-01-03", "2020-07-15", "Not Available", "14-08-2021", "01/12/21", "15/Dec/2021"],
    "amount_paid": ["$1 234.56", "USD 999.99", "Â£750", "1300â‚¬", "â‚¹800", "1500", "45.67 USD", "$2 0.5", "1750 CAD", "Â¥200000"],
    "email": ["john.doe@example.com", "jane.smith#example.com", "alice@example.co.uk", "bob.brown at example.com", "eve.white@example.com", "frank@example.com", "charlie.green@example.com", "daisy.blue[at]example.com", "george.red@example.com", "hannah.white@example.com"]
}

In [18]:

df = pd.DataFrame(data)

In [19]:
def clean_amount(amount):

    if pd.isna(amount):
        return np.nan
    clean = ''.join(char for char in amount if char.isdigit() or char == '.' or char == ',' or char == '¹')  # Ajouter '¹' aux caractères acceptés
    return float(clean.replace(',', '').replace('¹', ''))

In [20]:

df['birthdate'] = pd.to_datetime(df['birthdate'], errors='coerce')

In [21]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce')

In [22]:
df['amount_paid'] = df['amount_paid'].apply(clean_amount)

In [23]:

print(df)

   id           name  birthdate purchase_date  amount_paid  \
0   1       John Doe 1987-05-24    2021-12-01      1234.56
1   2     Jane Smith 1992-08-17           NaT       999.99
2   3  Alice Johnson        NaT           NaT       750.00
3   4      Bob Brown        NaT           NaT      1300.00
4   5      Eve White 1995-07-30           NaT       800.00
5   6    Frank Black        NaT           NaT      1500.00
6   7  Charlie Green 1991-09-05           NaT        45.67
7   8     Daisy Blue        NaT           NaT        20.50
8   9     George Red        NaT           NaT      1750.00
9  10   Hannah White        NaT           NaT    200000.00

                       email
0       john.doe@example.com
1     jane.smith#example.com
2        alice@example.co.uk
3   bob.brown at example.com
4      eve.white@example.com
5          frank@example.com
6  charlie.green@example.com
7  daisy.blue[at]example.com
8     george.red@example.com
9   hannah.white@example.com